.item-field-datepicker{
	position:relative;

	// trigger -----------------------------------------------------------------
	&__trigger{
		
	}

	// overlay -----------------------------------------------------------------
	&__overlay{		
		position:absolute;
		border:none;
		@include add-shadow(top);
		
		background-color: $color-light;
		top             : -2px;
		left            : -0.2em;
		padding         : 1.05em 5px 0 3px;
		z-index         : 1;
		min-width       : 285px;
	}

	// states ------------------------------------------------------------------
	&:not(:focus-within) &__overlay{
		// display:none;
	}
	&:focus-within &{
		&__trigger{
			z-index:2;
		}
		&__knob{
			rotate:180deg;
		}
	}
}